<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JavaScript Example</title>
  <script type="text/javascript" src="./static/js/jquery.js"></script>
  <script type="text/javascript" src="./static/js/jcanvas.js"></script>
  <script type="text/javascript" src="./static/js/tictac.js" defer='defer'></script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>
    <h1 id='foo'>Hello! uid={{ user }}</h1>
  <div id='result'>...</div>
  <div>
      <button id=clear>clear</button>
      <button id=refresh>refresh</button>
      <button id=bex>be-x</button>
      <button id=beo>be-o</button>
  </div>
<canvas width="1200" height="1000" style="background: #a3a3a3"></canvas>
</body>
</html>
